.signin-button{
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 10px 22px;
    font-size: 12px;
    line-height: 12px;
    height: 32px;
}
.header-container{
    padding: 20px;
}
mat-divider{
    color: #000000;
    margin: 8px;
}
.language{
    color: #1F21CB;
}


@media only screen 
    and (device-height : 812px)  {
    .right-header{
        display: none;
    }
}