<div class="p-5">

    
    <div fxlayout="row">

        <div fxFlex="grow" class="logo-container" fxLayoutGap="20px">
            <svg width="180" height="29" viewBox="0 0 180 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                <path d="M10.1642 -0.000159747C8.97336 -0.0170628 7.79361 0.228567 6.71 0.719012C5.62639 1.20946 4.66593 1.93249 3.89789 2.83598V0.316256H0.0106201V26.2332H3.89789V16.6385C4.66704 17.5437 5.62671 18.2705 6.70933 18.7678C7.79196 19.2652 8.97123 19.5209 10.1642 19.5171C11.4217 19.5184 12.6666 19.2674 13.8239 18.779C14.9813 18.2906 16.0272 17.575 16.8989 16.6752C18.6911 14.8204 19.6919 12.3498 19.6919 9.7797C19.6919 7.20961 18.6911 4.73898 16.8989 2.88422C16.0314 1.97599 14.9872 1.25205 13.8296 0.756247C12.672 0.260446 11.425 0.00311076 10.1642 -0.000159747ZM10.1272 3.47266C13.5869 3.47266 16.2963 6.21041 16.2963 9.70446C16.2963 13.1985 13.5286 16.0057 10.1272 16.0057C6.68506 16.0057 3.88428 13.1792 3.88428 9.70446C3.88428 6.31845 6.74337 3.46494 10.1272 3.46494V3.47266Z" fill="black"/>
                <path d="M35.514 13.4437C34.2992 15.02 32.2196 15.9981 30.0874 15.9981C27.0203 15.9981 24.6802 14.0842 24.2001 11.2153H39.792L39.8075 11.0494C39.8813 10.1101 39.8277 9.16531 39.6481 8.24024C39.2961 5.97274 38.1536 3.89979 36.4198 2.38274C34.6715 0.849887 32.42 0.00268874 30.0874 0C28.1543 0.0156546 26.2687 0.59568 24.6654 1.66779C23.0621 2.7399 21.8122 4.25667 21.0713 6.02907C20.3304 7.80147 20.1314 9.75111 20.4991 11.635C20.8668 13.5189 21.7848 15.2537 23.1389 16.6232C24.0427 17.5432 25.1235 18.2734 26.3171 18.7705C27.5108 19.2677 28.7929 19.5216 30.0874 19.5173C33.8095 19.5173 37.4576 17.4316 38.962 14.4469L35.514 13.4437ZM24.204 8.12255C24.7288 5.42146 27.1525 3.47861 30.0524 3.47861C31.4112 3.45603 32.7345 3.90905 33.7904 4.75821C34.8463 5.60737 35.5673 6.79845 35.8269 8.12255H24.204Z" fill="black"/>
                <path d="M56.3537 2.04321C54.8053 0.698047 52.8096 -0.0298688 50.7522 3.13928e-05C48.3596 3.13928e-05 46.2196 0.995574 44.8008 2.74935V0.316447H40.9135V19.224H44.8008V9.52908C44.8008 6.03503 47.0224 3.49794 50.0836 3.49794C52.4159 3.49794 54.9077 5.14367 54.9077 8.75926V19.2318H58.7949V7.74829C58.8008 5.44272 57.9534 3.47092 56.3537 2.04321Z" fill="black"/>
                <path d="M76.103 2.04319C74.5544 0.698346 72.5589 -0.0295227 70.5015 1.02188e-05C68.1069 1.02188e-05 65.9689 0.995553 64.5481 2.74933V0.316426H60.6511V19.224H64.5384V9.52905C64.5384 6.03501 66.76 3.49792 69.8212 3.49792C72.1535 3.49792 74.6453 5.14365 74.6453 8.75924V19.2317H78.5326V7.74826C78.5481 5.4427 77.7026 3.4709 76.103 2.04319Z" fill="black"/>
                <path d="M93.1188 0.316406L87.6688 14.6283L81.9098 0.316406H77.8418L85.7485 18.9828L82.7553 26.2352H86.7495L97.1829 0.316406H93.1188Z" fill="black"/>
                <path d="M90.1303 22.7336C90.1212 22.2755 90.2046 21.8202 90.3755 21.3945C90.5464 20.9689 90.8013 20.5815 91.1254 20.2552C91.4494 19.9289 91.8359 19.6702 92.2622 19.4945C92.6885 19.3187 93.1459 19.2294 93.6075 19.2318C94.0776 19.2208 94.5451 19.3033 94.9827 19.4743C95.4202 19.6453 95.8189 19.9014 96.1553 20.2276C96.4916 20.5538 96.7589 20.9434 96.9414 21.3736C97.1239 21.8038 97.2179 22.2658 97.2179 22.7326C97.2179 23.1994 97.1239 23.6614 96.9414 24.0916C96.7589 24.5218 96.4916 24.9114 96.1553 25.2376C95.8189 25.5638 95.4202 25.8199 94.9827 25.9909C94.5451 26.1619 94.0776 26.2443 93.6075 26.2334C93.146 26.2358 92.6888 26.1465 92.2627 25.9709C91.8365 25.7953 91.4501 25.5368 91.1261 25.2107C90.8021 24.8846 90.5471 24.4974 90.376 24.072C90.205 23.6466 90.1215 23.1915 90.1303 22.7336Z" fill="#1F21CB"/>
                <path d="M98.9414 19.2348H100.873V19.8811C101.102 19.6406 101.376 19.4483 101.681 19.3157C101.986 19.1831 102.315 19.1129 102.648 19.1094C103.064 19.1095 103.473 19.2063 103.845 19.3919C104.216 19.5775 104.538 19.8468 104.786 20.1782C105.071 19.8503 105.423 19.5856 105.818 19.4014C106.213 19.2173 106.643 19.1178 107.079 19.1094C108.386 19.1094 109.746 20.074 109.746 21.8818V26.2248H107.812V22.3102C107.812 21.4516 107.453 20.8574 106.679 20.8574C105.787 20.8574 105.4 21.4786 105.318 22.2561V26.2306H103.375V22.3102C103.375 21.4516 103.015 20.8574 102.242 20.8574C101.241 20.8574 100.868 21.6291 100.868 22.5475V26.2306H98.9414V19.2348Z" fill="black"/>
                <path d="M110.814 24.1033C110.814 22.5193 112.014 21.9521 113.601 21.9521H115.615V21.6222C115.615 20.9758 115.032 20.7385 114.241 20.7385C113.627 20.7385 113.015 20.8832 112.814 21.464L110.974 21.491C110.974 20.0382 112.441 19.114 114.2 19.114C115.907 19.114 117.44 20.0112 117.44 21.3984V26.2217H115.615V25.5561C115.281 25.9246 114.521 26.3278 113.495 26.3278C112.468 26.3278 110.814 25.9516 110.814 24.1033ZM115.615 23.2988H113.961C113.147 23.2988 112.68 23.6287 112.748 24.1573C112.816 24.686 113.331 24.7766 113.654 24.7766C114.573 24.7766 115.615 24.1477 115.615 23.2988Z" fill="black"/>
                <path d="M118.842 19.2352H120.774V20.1709C121.174 19.5381 121.975 18.9959 123.322 19.2062V21.2552C122.093 20.8076 120.774 21.4134 120.774 22.6559V26.2329H118.842V19.2352Z" fill="black"/>
                <path d="M124.455 16.9879H126.387V22.0833L129.015 19.2337H131.308L128.29 22.4402L131.384 26.2295H129.129L127.143 23.6692L126.383 24.4873V26.2237H124.451L124.455 16.9879Z" fill="black"/>
                <path d="M131.389 22.733C131.394 21.8437 131.73 20.9876 132.332 20.3289C132.934 19.6702 133.76 19.2553 134.651 19.1637C135.542 19.0722 136.436 19.3104 137.161 19.8327C137.886 20.355 138.391 21.1247 138.58 21.9941C138.699 22.47 138.703 22.9669 138.594 23.4449H133.288C133.513 24.2514 134.193 24.6469 135.019 24.6469C135.629 24.6538 136.221 24.4429 136.687 24.0527L138.366 24.5273C137.783 25.6637 136.314 26.337 135.019 26.337C134.056 26.337 133.133 25.9573 132.452 25.2814C131.771 24.6056 131.389 23.6889 131.389 22.733ZM136.722 21.9941C136.593 21.6458 136.36 21.3452 136.053 21.1329C135.747 20.9205 135.382 20.8066 135.009 20.8066C134.635 20.8066 134.27 20.9205 133.964 21.1329C133.657 21.3452 133.424 21.6458 133.295 21.9941H136.722Z" fill="black"/>
                <path d="M140.469 23.8943L140.48 20.8845H139.281V19.2349H140.48L140.494 17.6914H142.401L142.387 19.2349H144.422V20.8845H142.381L142.368 23.8807C142.368 24.3824 143.048 24.8705 144.506 24.3168V26.1651C142.321 26.7979 140.469 26.0069 140.469 23.8943Z" fill="black"/>
                <path d="M145.654 19.2336H147.598V19.8124C148.138 19.3536 148.83 19.109 149.541 19.1255C151.448 19.1255 153.04 20.7751 153.04 22.7296C153.04 24.7612 151.452 26.3336 149.541 26.3336C148.826 26.3451 148.133 26.0904 147.598 25.6197V28.9999H145.654V19.2336ZM151.225 22.7315C151.226 22.4856 151.179 22.2419 151.085 22.0143C150.991 21.7867 150.853 21.5798 150.678 21.4055C150.503 21.2311 150.296 21.0929 150.067 20.9986C149.838 20.9043 149.593 20.8559 149.345 20.8562C148.842 20.8562 148.36 21.0544 148.005 21.4071C147.65 21.7599 147.45 22.2384 147.45 22.7373C147.45 23.2362 147.65 23.7147 148.005 24.0674C148.36 24.4202 148.842 24.6184 149.345 24.6184C149.593 24.6174 149.839 24.5677 150.068 24.4723C150.297 24.3768 150.505 24.2375 150.679 24.0622C150.854 23.8869 150.992 23.6791 151.086 23.4508C151.179 23.2224 151.226 22.978 151.225 22.7315Z" fill="black"/>
                <path d="M154.161 16.9879H156.093V26.2295H154.161V16.9879Z" fill="black"/>
                <path d="M157.16 24.1033C157.16 22.5193 158.362 21.9521 159.948 21.9521H161.961V21.6222C161.961 20.9758 161.378 20.7385 160.587 20.7385C159.975 20.7385 159.361 20.8832 159.16 21.464L157.32 21.491C157.32 20.0382 158.787 19.114 160.548 19.114C162.255 19.114 163.788 20.0112 163.788 21.3984V26.2217H161.961V25.5561C161.627 25.9246 160.867 26.3278 159.841 26.3278C158.814 26.3278 157.16 25.9516 157.16 24.1033ZM161.961 23.2988H160.307C159.495 23.2988 159.028 23.6287 159.094 24.1573C159.16 24.686 159.677 24.7766 160 24.7766C160.921 24.7766 161.961 24.1477 161.961 23.2988Z" fill="black"/>
                <path d="M164.921 22.7315C164.921 21.773 165.304 20.8534 165.986 20.175C166.668 19.4967 167.594 19.115 168.56 19.114C169.286 19.1151 169.995 19.3352 170.593 19.7452C171.191 20.1552 171.649 20.7357 171.907 21.4099L170.148 21.9135C170.019 21.5983 169.8 21.3274 169.518 21.1347C169.235 20.9419 168.902 20.8357 168.56 20.8292C168.068 20.8512 167.605 21.0604 167.265 21.4133C166.925 21.7662 166.735 22.2356 166.735 22.7238C166.735 23.212 166.925 23.6814 167.265 24.0343C167.605 24.3872 168.068 24.5964 168.56 24.6184C168.902 24.6193 169.237 24.5178 169.52 24.3272C169.803 24.1365 170.022 23.8655 170.148 23.5496L171.907 24.0512C171.649 24.7243 171.19 25.3034 170.592 25.7115C169.994 26.1196 169.285 26.3372 168.56 26.3356C168.082 26.3366 167.609 26.2441 167.168 26.0634C166.727 25.8828 166.325 25.6175 165.987 25.2827C165.649 24.9479 165.381 24.5503 165.198 24.1125C165.015 23.6748 164.921 23.2055 164.921 22.7315Z" fill="black"/>
                <path d="M172.707 22.733C172.712 21.8437 173.048 20.9876 173.65 20.3289C174.252 19.6702 175.078 19.2553 175.969 19.1637C176.86 19.0722 177.754 19.3104 178.479 19.8327C179.204 20.355 179.71 21.1247 179.898 21.9941C180.017 22.47 180.022 22.9669 179.912 23.4449H174.606C174.833 24.2514 175.512 24.6469 176.34 24.6469C176.949 24.6538 177.54 24.4429 178.005 24.0527L179.687 24.5273C179.103 25.6637 177.632 26.337 176.34 26.337C175.377 26.337 174.453 25.9574 173.772 25.2816C173.09 24.6057 172.708 23.689 172.707 22.733ZM178.04 21.9941C177.912 21.6458 177.678 21.3452 177.372 21.1329C177.065 20.9205 176.701 20.8066 176.327 20.8066C175.953 20.8066 175.589 20.9205 175.282 21.1329C174.976 21.3452 174.742 21.6458 174.614 21.9941H178.04Z" fill="black"/>
                </g>
                <defs>
                <clipPath id="clip0">
                <rect width="180" height="29" fill="white"/>
                </clipPath>
                </defs>
            </svg>
        </div>
        <div fxFlex fxLayout="row" fxFlexAlign="end" fxLayoutGap="10px" fxLayoutAlign="center" class="right-header" fxHide.gt-md>
            <a class="signin-button button-border-primary" href="https://www.google.com/" target="_blank">Signin</a>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>menu</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>language</mat-icon>
                  <span>EN</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>notifications</mat-icon>
                  <span>Notifications</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>shopping_cart</mat-icon>
                  <span>Cart</span>
                </button>
              </mat-menu>
            
    </div>
        <div fxFlex fxLayout="row" fxFlexAlign="end" fxLayoutGap="10px" fxLayoutAlign="center" class="right-header" fxHide.lt-md>
                <a class="signin-button button-border-primary" href="https://www.google.com/" target="_blank">Signin</a>
                <mat-divider vertical="true"></mat-divider>
                <div fxFlex="nogrow" class="language" fxLayoutAlign="center" fxLayout="column">
                    <a href="#">EN</a>
                </div>
                <mat-icon fxLayout="column" fxFlexAlign="center">language</mat-icon>
                <mat-divider vertical="true"></mat-divider>
                <mat-icon fxLayout="column" fxFlexAlign="center">notifications</mat-icon>
                <mat-divider vertical="true"></mat-divider>
                <mat-icon fxLayout="column" fxFlexAlign="center" matBadge="8" matBadgeColor="warn">local_offer</mat-icon>
                <mat-divider vertical="true"></mat-divider>
                <mat-icon fxLayout="column" fxFlexAlign="center" matBadge="8" matBadgeColor="warn">shopping_cart</mat-icon>

                
        </div>
    </div>




        
</div>