<div class="supplier-container" fxLayout="row" fxFlex="grow" fxLayoutAlign="center">
    <div fxFlex.gt-md="1390px" fxFlex fxLayout="column">
        <div fxFlex fxLayout="row" fxLayoutAlign="left center" fxLayoutAlign.lt-lg="center" class="py-5 ">
            <h1 class="section-title text-left font-aventa-bold" fxFlex="nogrow">Supplier stores </h1>
            <a fxFlexAlign="center" href="#" class=" text-uppercase button-border-primary become-supplier font-aventa-bold text-center ml-2">Become a supplier</a>
        </div>
        <ul class="supplier-block" fxLayout="row" fxFlex fxLayout.lt-md="row wrap" fxLayoutAlign="space-between center" fxLayoutAlign.lt-md="center" fxLayoutGap="15px">
            <li *ngFor="let supplier of allSuppliers" fxLayout="column" class=" border-primary transition-shadow mb-2" fxFlex="20" fxFlex.lt-lg="30%">
                <div class="image-container {{supplier.image ? '' : 'placeholder-bg' }}" fxLayoutAlign="center" fxFlex>
                    <img src="assets/images/suppliers/{{supplier.image ? supplier.image : 'supplier-3'}}.png" alt="" class="logo">
                </div>
                <div class="py-3 px-1 text-center" fxFlex fxLayout="column">
                    <span fxFlex class="sup-header m-0 font-aventa-semibold">{{supplier.name}}</span>
                    <span fxFlex class="sup-region cl-2">{{supplier.region}} Region</span>
                </div>
            </li>
        </ul>
        <div fxlayout="row" fxLayoutAlign="center">
            <a fxFlex="nogrow" href="#" class=" text-uppercase button-border-primary mt-5 font-aventa-bold text-center">Show all suppliers</a>
        </div>
    </div>
</div>
<mat-divider></mat-divider>