.sup-region{
    line-height: 21px;
}
.button-border-primary{
    padding: 8px 16px;
    background: #2985FA;
    color: white;
}
.logo{
    max-height: 61px;
    margin: 10px;
}


.supplier-block li {
    min-height: 160px;
}
.sup-header,
.sup-region{
    font-size: 14px;
    line-height: 17px;
    &.sup-region{
        line-height: 21px;
    }
}

.become-supplier{
    background: #2CA530;
    font-size: 12px;
    line-height: 12px;
}