<div class="brands-container mt-10" fxLayout="row" fxFlex="grow" fxLayoutAlign="center">
    <div fxFlex.gt-lg="1390px" fxFlex fxLayout="column" class="brands-bg">
        <h1 class="section-title text-center py-6 font-aventa-bold" fxFlex>Some of our top brands</h1>
        <ul class="mx-20" fxLayout="row wrap" fxLayoutAlign="center" fxFlex>
            <li *ngFor="let brand of allBrands" fxFlex fxFlex.lt-lg="15%" fxFlex.lt-md="50%" fxLayout="column" class=" my-3 mx-3">
                <img fxFlex="grow" src="assets/images/brands/{{brand.image}}.png" alt="" class=" w-full">
            </li>
        </ul>

    </div>
</div>
<mat-divider></mat-divider>