<div class="featured-container" fxLayout="row" fxFlex="grow" fxLayoutAlign="center">
    <div fxFlex.gt-lg="1390px" fxFlex fxLayout="column">
        <h1 class="section-title text-left py-10 font-aventa-bold pl-3" fxFlex>Featured products</h1>
        <ul class="featured-block" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutAlign.lt-lg="space-around" fxFlex>
            <li *ngFor="let category of allFeatured" fxFlex fxLayout="column" fxFlex.lt-lg="250px" class=" border-primary transition-shadow my-3 mx-3">
                <div fxFlex="140px" fxFlex.lt-md="nogrow" fxLayoutAlign="center" [class]="category.image ? '' : 'placeholder-bg'">
                    <img fxFlex="nogrow" src="assets/images/featured-products/{{category.image ? category.image : 'placeholder'}}.png" alt="" class=" h-25 w-h-25 rounded-full text py-10">
                </div>
                <div class=" p-5" fxLayout="column">
                    <span class="stock-status block"><i class="green-tick inline-block mr-2" fxFlex="nogrow" fxFlexAlign="center"></i> In Stock</span>
                    <span fxFlex class="fea-header m-0 font-aventa-semibold">{{category.name}}</span>
                    <span fxFlex class="fea-brand">Brand: {{category.brand}}</span>
                    <span fxFlex class="fea-sku">SKU: {{category.sku}}</span>
                    <span fxFlex fxLayout="row" class="fea-seller pt-1">
                        <div fxFlex="grow" fxLayout="column">
                            <span>{{category.seller_name}}</span>
                            <span class="fea-moq_order pt-1" *ngIf="category.moq_order">MOQ (Order):{{category.moq_order}}</span>
                            <span class="fea-moq_rfq" *ngIf="category.moq_rfq">MOQ (ROQ):{{category.moq_rfq}}</span>
                            <span class="fea-moq_order pt-1" *ngIf="category.suppliers">{{category.suppliers}} Suppliers</span>
                        </div>
                        <div fxFlex fxFlexAlign="top" class="seller-image-container relative">
                            <div fxFlex style="background-image: url('assets/images/featured-products/sellers/{{seller ? seller : 'placeholder'}}.png')" alt="" class="h-5 seller-image overflow-hidden {{seller ? seller : 'placeholder'}}" *ngFor="let seller of category.seller_images"></div>
                        </div>
                    </span>
                    
                    <a fxFlex="grow" href="#" class=" text-uppercase button-border-primary px-3 py-2 mt-5 font-aventa-bold text-center"> {{category.moq_rfq && !category.moq_order ? 'Add to RFQ' : (category.suppliers ? 'Show Suppliers' : 'Add to Order')}}</a>
                </div>
            </li>
        </ul>

    </div>
    
</div>
<mat-divider></mat-divider>