.fea-header{
    font-size: 16px;
}
.seller-image{
    border-radius: 50%;

    width: 30px;
  height: 30px;
  background-position: center center;
  background-repeat: no-repeat;
}
.seller-image-container div {
    position: absolute;
    left: 10px;
    top: 0;
}

.seller-image-container div:first-child {
    position: relative;
    left: 0;
}

.placeholder.seller-image {
    background-size: contain;
    background: #B4B4B4;
    background-repeat: no-repeat;
    background-position: center;
}

.green-tick{
    width: 6px;
    height: 6px;
    line-height: 17px;
    display: block;
    border-radius: 50%;
    background: #039F2F;
}