<div class="search-container" fxLayout="row">
    <div fxFlex fxFlexAlign="center">
        <h1 class="font-bold text-center main-title">Convenience, efficiency and simplicity</h1>
        <h3 class="text-center sub-title pt-3">A platform that brings together all the suppliers you need to run your business</h3>
        <div class=" text-center pt-7" fxLayoutAlign="center">
            <div class="search-input-container " fxFlex="nogrow" fxLayoutAlign="center">
                    <mat-select matPrefix [(value)]="selectedSearch" class="dropdown-type">
                        <mat-option value="products">Products</mat-option>
                        <mat-option value="service">Service</mat-option>
                    </mat-select>
                <input matInput type="search" placeholder="Search product or service" class="search-input pl-3">
                <a href="#" matPrefix class="search-icon-container py-2 px-3">
                    <mat-icon>search</mat-icon>
                </a>
            </div>
        </div>
    </div>
</div>
