.search-container{
    min-height: 373px;
    background: linear-gradient(360deg, rgba(41, 133, 250, 0.2) 0%, rgba(255, 255, 255, 0) 93.94%), #FFFFFF;
}
.main-title{
    font-size: 28px;
}
.sub-title{
    font-size: 18px;
    font-family: 'Aventa-Light';
}
.search-input{
    background: transparent;
    min-width: 500px;

    &:placeholder{
        color: #808080;
    }

}
.search-input-container {
    border: 1px solid #808080;
    border-radius: 40px;
    background: white;
}
.search-icon-container{
    background: #1F21CB;
    color: white;
    border-radius: 30px;
}
.dropdown-type{
    width: 140px;
    border-right: 1px solid #808080;
    padding-right: 10px;
    margin-right: 10px;
}
.search-icon-container .mat-icon{
    line-height: 30px;
}
::ng-deep .dropdown-type{
    .mat-select-trigger{
        height: 100%;
    }
    span.mat-select-value-text {
        font-size: 14px;
        line-height: 46px;
    }
}


@media only screen 
    and (device-height : 812px)  {
        .search-input {
            min-width: initial;
        }
        .dropdown-type {
            width: 114px;
        }
        .search-input::placeholder,
        .dropdown-type span.mat-select-min-line {
            font-size: 12px;
        }
}


input.search-input:focus {
    outline-width: 0;
}