<app-header-main></app-header-main>
<app-search-block></app-search-block>
<app-categories-list></app-categories-list>
<app-featured-products></app-featured-products>
<app-offer-slider></app-offer-slider>
<app-supplier-stores></app-supplier-stores>
<app-top-brands></app-top-brands>
<app-footer-main></app-footer-main>