<div class="slide-container py-10" fxLayout="row" fxFlex="grow" fxLayoutAlign="center">
  <div fxFlex.gt-lg="1390px" fxFlex fxLayout="column" class="slide-inner">
    <mat-carousel
      timings="250ms ease-in"
      [autoplay]="true"
      color="accent"
      maxWidth="auto"
      [loop]="true"
      [hideArrows]="true"
      [hideIndicators]="false"
      
      [useKeyboard]="true"
      [useMouseWheel]="false"
      orientation="ltr"
    >
      <mat-carousel-slide
        #matCarouselSlide
        *ngFor="let slide of slides; let i = index"
        image="assets/images/sliders/{{slide.image}}.png"
        [hideOverlay]="true"
      ></mat-carousel-slide>
    </mat-carousel>
  </div>
</div>
      