<div class="categories-container" fxLayout="row" fxFlex="grow" fxLayoutAlign="center">
    <div fxFlex.gt-md="1390px" fxFlex fxLayout="column">
        <h1 class="section-title text-center py-6 font-aventa-bold" fxFlex>Categories</h1>
        <ul class="categories-block" fxLayout="row wrap" fxLayoutAlign="space-between" fxFlex fxLayoutAlign.lt-md="space-around">
            <li *ngFor="let category of allCategories" fxFlex.lt-lg="30"  fxFlex="0 1 250px" fxFlex.lt-md="250px" fxFlexAlign="center" class=" border-primary transition-shadow p-1 my-3" fxLayoutGap="15px">
                <div fxFlex="62px" fxFlexAlign="center">
                    <img src="assets/images/products/{{category.image}}.png" alt="" class=" rounded-full">
                </div>
                <div fxLayout="column" fxFlex="nogrow" fxLayoutAlign="center">
                    <span fxFlex="nogrow" class="font-bold cat-header m-0">{{category.name}}</span>
                    <span fxFlex="nogrow" class="cat-count">{{category.count}} items</span>
                </div>
            </li>
        </ul>

        <a fxFlex="nogrow" fxFlexAlign="center" href="#" class=" text-uppercase button-border-primary px-3 py-2 mt-5">Show all Categories</a>
    </div>
    
</div>
<mat-divider></mat-divider>