::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end,
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-width: 1px !important;
    color: #e0e0e0;
}@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

@font-face {
    font-family: "Aventa";
    src: url(assets/fonts/Aventa/Aventa-Medium.woff);
  }


  @font-face {
    font-family: "Aventa-Black";
    src: url(assets/fonts/Aventa/Aventa-Black.woff);
  }


@font-face {
  font-family: "Aventa-Bold";
  src: url(assets/fonts/Aventa/Aventa-Bold.woff);
  font-weight: bold;
}


@font-face {
  font-family: "Aventa-Light";
  src: url(assets/fonts/Aventa/Aventa-Light.woff);
}


@font-face {
  font-family: "Aventa-SemiBold";
  src: url(assets/fonts/Aventa/Aventa-SemiBold.woff);
}


span{
  font-size: 12px;
}
p, a{
  font-size: 14px;
  line-height: 14px;
}

body, .mat-typography { margin: 0; font-family: "Aventa"; }


body, .mat-typography{
  h1, h2, h3, h4, h5{
    font-family: "Aventa-Black";
  }
}
body, .mat-typography {
  .font-aventa-normal{
    font-family: 'Aventa';
  }
  .font-aventa-bold{
    font-family: 'Aventa-Bold';
  }
  .font-aventa-black{
    font-family: 'Aventa-Black';
  }
  .font-aventa-semibold{
    font-family: 'Aventa-SemiBold';
  }
}
.container{
  max-width: 1290px;
}

h1.section-title{
  font-size: 24px;

}

.mat-divider {
  border-top-color: #CECECE;
}

.border-primary{
    border-radius: 30px;
    border: 1px solid  #E5E5E5;

    border-radius: 17px;
    &:hover{
        box-shadow: 0px 30px 50px rgba(116, 116, 116, 0.25);
    }
}
.button-border-primary{
  border: 1px solid #2985FA;
  border-radius: 20px;
  text-transform: uppercase;
  font-family: 'Aventa-Bold';
  padding: 8px 16px;
}



.cl-2{
  color: #979797;
}
span.mat-select-min-line {
  font-size: 14px;
  font-family: 'Aventa';
}
.carousel div.carousel-indicators {
  bottom: -11px;
  position: relative;
  text-align: center;
  margin: auto;
  display: block;
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent{
  .mat-ripple{
    background: white;
  }
}
.mat-button-disabled.mat-accent{
  .mat-ripple{
    background: #2985FA;
  }
}

.mat-badge-warn .mat-badge-content{
  background: #1F21CB;
  color: white;
}



.image-container {
  border-radius: 17px 17px 0 0;
}
.placeholder-bg {
  background: #F6F6F6;
  border-radius: 17px 17px 0 0;
}